version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: dev 
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/urlshorten
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: P@ssw0rd
      TZ: Asia/Bangkok
    ports:
      - "8080:8080"
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: urlshorten
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: P@ssw0rd
      TZ: Asia/Bangkok
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db_script:/docker-entrypoint-initdb.d
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: